@import url('https://fonts.googleapis.com/css2?family=Raleway');


body{
  padding-left: 10%;
  padding-right: 10%; 
  font-family: 'Raleway';
}

a {
      text-decoration: none;
      color: black;
}




@keyframes slide{
  0%{
      background-position-x: 0px;
  }
  100%{
      background-position-x: -9054px; /* or something */
  }
}